@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Style+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  overflow: auto;
}
html {
  scroll-behavior: smooth;
}
.spa-titles {
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-family: "Style Script", cursive;
}


.svgs-sections {
  width: 350px;
  height: 350px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}