.main-spa {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: rgb(38, 38, 38);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    gap: 15px;
    justify-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-spa span:hover,.icon-title-cont:hover {
    opacity: 1;
}
.main-title-spa {
    backdrop-filter: blur(10px) saturate(70%);
    color: #fff;
    border-radius: 10px;
    grid-column: 2/6;
    text-align: center;
    grid-row: 1/3;
    width: 100%;
}
.desc-spa {
    height: 100%;
    color: #dedede;
    grid-column: 2/4;
    grid-row: 3/5;
    font-weight: 300;
    width: 100%;
}
/* Make img responsive */




.desc-spa2 {
    color: #dedede;
    grid-column: 2/4;
    grid-row: 5/6;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

.desc-spa3 {
    color: #dedede;
    grid-column: 2/4;
    grid-row: 6/7;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

.img-logo {
    -webkit-user-drag: none;
    /* Centered drop shadow */
}


.icon-title-cont {
    backdrop-filter: blur(10px) saturate(70%);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.icon-title-cont {
    grid-column: 4/6;
    grid-row: 3/7;
}

.icon-title-cont img {
    width: 2;
    height: 90%;
    object-fit: contain;

}
.img-logo:hover {
    /* A more matching color */
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* Make grid responsive to mobiles */
@media (max-width: 1036px) {
    .icon-title-cont {
        width: 90%;
        grid-column: 4/8;
    }
    .desc-spa {
        width: 90%;
        grid-column: 1/4;
    }
    .desc-spa2 {
        width: 90%;
        grid-column: 1/4;
    }
    .desc-spa3 {
        width: 90%;
        grid-column: 1/4;
    }

}

@media (max-width: 768px) {
    .main-spa {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .desc-spa {
        overflow: auto;
        width: 95%;
        grid-column: 1/5;
        grid-row: 2/4;
    }

    .desc-spa2 {
        width: 95%;
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .desc-spa3 {
        width: 95%;
        grid-column: 1/5;
        grid-row: 5/6;
    }

    .icon-title-cont {
        grid-column: 1/5;
        grid-row: 6/8;
        width: 95%;
    }
    .icon-title-cont img {
        width: 150px;
        height: 100%;
    }
    .main-title-spa {
        grid-column: 1/5;
        grid-row: 1/2;
    }
}